
 canvas {
      background: #111;
      display: block;
      margin: 0 auto;
      border: 3px solid #fff;
    }

gameover {
  background-image: url('gameovertela.jpg');
  
}


varadepesca {

   img: url('varadepesca.png');


}

tubarao {

   img: url('tubarao.webp');


}
