
 canvas {
      background: #111;
      display: block;
      margin: 0 auto;
      border: 3px solid #fff;
    }

#gameover {
  background: url('gameovertela.jpg');
  position: fixed;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 300;    
}


varadepesca {
   background: url('varadepesca.png');


}

tubarao {
   background: url('tubarao.webp');


}
